* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0; 
  font-family: "SN pro";
  cursor: url('cursor.png'), auto;
}

.split{
  height: 100vh;
  display: flex;
}

.column{
  overflow: auto;
  padding: 16px;
}

/* LEFT */
.dayna{
  flex: none;              
  width: 50%;              
  min-width: 240px;
  max-width: calc(100% - 240px); 
  background: #fff7c2; 

  resize: horizontal;     
  overflow: auto;
  position: relative;
}

/* divider */
.dayna::after{
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  background: #f2f2f2;
  border-left: 1px solid #ddd;
  cursor: col-resize;
}

/* RIGHT */
.san{
  flex: 1;
}

/* Phone (rows)*/
@media (max-width: 768px){
  .split{
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .dayna{
    width: auto;
    min-height: 200px;
    max-width: none;
    background-color: aqua;
    resize: vertical;
  }

  .dayna::after{
    display: none;
  }

  .san{
    background-color: bisque;
  }
}

/* Emoji rain styles */
.emoji{
  position: fixed;
  top: -2rem;
  z-index: 9999;
  pointer-events: none;
  animation: fall linear forwards;
}

@keyframes fall{
  to{
    transform: translate(var(--drift), 110vh) rotate(360deg);
    opacity: 0.95;
  }
}
