* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0; 
  font-family: "SN pro";
  cursor: url('cursor.png'), auto;
}

.split{
  height: 100vh;
  display: flex;
}

.column{
  overflow: auto;
  padding: 16px;
}

/* LEFT */
.dayna{
  flex: none;              
  width: 50%;              
  min-width: 240px;
  max-width: calc(100% - 240px); 
  background: #fff7c2; 

  resize: horizontal;     
  overflow: auto;        
  position: relative;
}

/* divider */
.dayna::after{
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  background: #f2f2f2;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: col-resize;
}

/* RIGHT */
.san{
  flex: 1;
  min-width: 240px;
}

/* Phone (rows)*/
@media (max-width: 768px){
  .split{
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .dayna{
    width: auto;
    min-width: 0;
    max-width: none;
    resize: none;
  }

  .dayna::after{
    display: none;
  }
}
